.card {
    cursor: pointer;

    box-shadow: 2px 2px 4px gray;
}

.card-body {
    padding: 8px 12px;
}

.card-title {
    margin-bottom: 5px;
}

.active:active {
    transition: 0.2s;
    transform: translate3d(0, 4px, 0);
}

.show：active {
    transition: none;
    transform: none;
}

.projectLoger__message,
.projectLoger__projectTitle {
    font-size: 18px;
}

.projectLoger__formTitile {
    cursor: auto;
}

.projectLoger__messageInput {
    width: 65%;
}

.projectLoger__state {
    overflow-y: scroll;

    height: 100px;
}

.list-group-item {
    padding: 5px;
}

.projectLoger__insertCard {
    height: 60px;
}

.projectLoger__projectNameInput {
    width: 70%;
}

.projectLoger__state {
    height: 250px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(34, 34, 34);
}

.projectLoger__projects {
    overflow: scroll;

    height: 400px;

    border-radius: 1%;
    box-shadow: 0px 0px 8px 3px #CCCCCC inset;

    -ms-overflow-style: none;

/* IE, Edge 対応 */
    scrollbar-width: none;
}

.projectLoger__projects::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
}